doctype html
html(lang='en')
    head
        title Medicine Registry App
        link(rel='stylesheet', href='/static/styles.css')
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,200&display=swap" rel="stylesheet")
    body 
        header.navbar 
            h1.logo
                a(href='/') iMedic

            nav.nav
                a(href='/') Home
                a(href='/add') Registration
                a(href='/medicines') All medicines

        block content